/* SLIDER */
.App{
  position: relative;
}

.movie__slider {
  width: 100%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-arrow {
  z-index: 10;
  padding: 20px;
  border-radius: 50%;
}
  .slick-arrow::before {
    font-size: 28px; 
    position: absolute;
    left: 0;
    right: 0;
    top: 5px;
  }


.slick-next {
  right: 5% !important;
}

.slick-prev {
  left: 5% !important;
}

.slick-dots {
  bottom: 10px;
}
 .slick-dots li {
    margin: 0;
  }
  
  .slick-dots button::before {
      width: 15px !important;
      height: 15px !important;
      font-size: 5px !important;
      color: #fff !important;
}

@media only screen and (max-width: 400px) {
  .slick-arrow{
    display: none !important;
  }
}